* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: heebo, sans-serif;
}

body {
    font-size: 14px;
}

.countries-container {
    max-width: 100%;
}

.light {
    background-color: hsl(0, 0%, 98%);
    color: hsl(200, 15%, 8%);
}

.dark {
    background-color: hsl(207, 26%, 17%);
    color: hsl(0, 0%, 100%);
}

.countries-list {
    max-width: 100%;
    width: 1200px;
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(4, 1fr);
    -moz-column-gap: 3rem;
    column-gap: 3rem;
    row-gap: 4rem;
}

@media screen and (max-width: 739px) {
    .countries-list {
        padding: 0 50px;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 2.5rem;
    }

}

@media (min-width: 740px) and (max-width: 1024px) {
    .countries-list {
        padding: 0 30px;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 1.5rem
    }
}