* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: heebo, sans-serif;
}

body {
    font-size: 14px;
}

.countries-container {
    max-width: 100%;
}

.light {
    background-color: hsl(0, 0%, 98%);
    color: hsl(200, 15%, 8%);
}

.dark {
    background-color: hsl(207, 26%, 17%);
    color: hsl(0, 0%, 100%);
}

.countries-list {
    max-width: 100%;
    width: 1200px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    flex-wrap: wrap;
    padding: 0 15px;
    justify-content: space-between;
}

@media screen and (max-width: 739px) {
    .countries-list {
        padding: 0 50px;
    }
}

@media (min-width: 740px) and (max-width: 1023px) {
    .countries-list {
        padding: 0 30px;
    }
}